<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new recipe
    </h2>

    <form action="/insert_recipe" method="post">
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body" rows="3"></textarea>
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

    

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Title
        </th>

        <th>
          Body
        </th>

        <th>
          Category
        </th>

        <th>
          User
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.id %>
        </td>

        <td>
          <%= a_recipe.image %>
        </td>

        <td>
          <%= a_recipe.title %>
        </td>

        <td>
          <%= a_recipe.body %>
        </td>

        <td>
          <%= a_recipe.category_id %>
        </td>

        <td>
          <%= a_recipe.user_id %>
        </td>

        <td>
          <%= a_recipe.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_recipe.updated_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
