<div>
  <div>
    <h1>
      Recipe #<%= @the_recipe.id %> details
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img width="400" height="180" src="<%= @the_recipe.image %>">
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_recipe.title %>
      </dd>

      <dt>
        Body
      </dt>
      <dd>
        <%= @the_recipe.body %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_recipe.category.descriptions %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_recipe.user_id %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_recipe.comments_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <% if @the_recipe.user_id == session.fetch( :user_id) %>
    <h2>
      Edit recipe
    </h2>

    <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_recipe.image %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_recipe.title %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_recipe.body %></textarea>
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_recipe.category_id %>">
      </div>

     

     

      <button>
        Update recipe
      </button>
    </form>
  </div>
</div>
<% else %>
<% end %>

<h2>Comments</h2>

<table>
 
<hr>
 <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

<% @the_recipe.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.user_id %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= comment.created_at %>
    </td>
  </tr>
  
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <label for="query_recipe_id">Recipe ID</label>
  <input id="query_recipe_id" type="text" value="<%= @the_recipe.id %>" name="query_recipe_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_comment" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
